
.contact-form {
    
    background-color: $solid-white;
    padding:70px;
    position: relative;
    top: -150px;
    width: 55%;
    box-shadow: 20px 20px $bright-yellow;
    .top-row-contact {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top:20px;
    }
    input {
        width: calc((100% / 2) - 15px);
        padding: 0 0 15px 10px;
        border:none;
        font-family:$secondary-font;
        border-bottom: 2px $evergreen solid;
        background-color: transparent;

        &::placeholder {
            font-size: 0.8rem;
            text-transform: uppercase;
            opacity: 1;
            line-height: 1.2rem;
        }
        &:focus {
            outline:none;
            border-bottom: 3.5px $evergreen solid;
        }
    }
    textarea { 
        border: 2px $evergreen solid;
        width: 100%;
        margin: 30px 0;
        font-family:$secondary-font;
        resize: none;
        background-color: transparent;
        padding: 20px;
        &::placeholder {
            font-size: 0.8rem;
            text-transform: uppercase;
            opacity: 1;
            line-height: 1.2rem;
        }
        &:focus {
            outline:none;
            border: 3.5px $evergreen solid;
            box-sizing: border-box;
        }
    }
    button {
        width: 100%;
    }
}


.blog-form {
    box-shadow: none;
    background: transparent;
    position: static;
    width: 100%;
    padding:0;
    margin-bottom: 100px;
}



