

@media (max-width: 1100px){
    // Switch nav to mobile view
    // drop-down menu
    .nav-bar {
        .drop-down {
            &:hover .nav-menu, 
            &:active .nav-menu {
            display: block;
        }
        .nav-icon {
            display: block;
            position: relative;
        }
    }

    .drop-down {
        position: relative;
        display: block;
    }

    .nav-menu {
        position: absolute;
        top:30px;
        right: -20px;
        background-color: rgba(227, 227, 227, 0.719);
        display: none;
        text-align:right;
    }

    .nav-menu li {
        padding: 10px 0px;
        a {
            padding: 20px;
        }
    }

}


    // HEADER Section
    header {
        height:80vh;
        h1 {
            margin-left: 5%;
        }
        .img-container {
                height: 30%;
            }
    }

    
    // add white space to other-links section
    .other-links {
        padding: 75px 0;
    }
    // Group Programs section and New locations
    .group-programs {
        .flex-container {
            flex-direction: column;
            justify-content: center;
            padding:0;
        }
        .img-container {
            position: relative;
            top:0;
        }
        .text-container {
            width: 100%;
            padding: 0 40px;
            right:0;
            left: 0;
            position: relative;
            text-align: center;
        }
    }
    .new-locations {
        .flex-container {
            justify-content: center;
            flex-direction: column-reverse;
            padding-bottom: 20px;
        }
        .img-container {
            position: relative;
            width: 50%;
            margin-top:160px;

        }
        .text-container {
            width: 100%;
            text-align: center;
            padding-left:0;
        }
    }

    
    .new-materials {        
        padding-top: -150px;
        z-index: 3;
        position: relative;
        .flex-container {
            padding-top:10px;
            .new-materials-text {
                padding: 0 15px 60px;
            }
            
        }
    }


    // CONTACT PAGE MEDIA QUERIES
    .contact-header {
        height: 50vh;
        h1 {
            text-align: center;
            margin: 0 auto;
            width: 50%;
        }
    }
    .contact { 
        .flex-container {
            flex-direction: column;
            .contact-form {
                width: 100%;
            }
            .contact-flex {
                text-align: center;
                margin: 0 auto;
                margin-top: -50px;
                margin-bottom: 70px;
                .social-media {
                    margin:0 auto;
                    i:last-child {
                        padding-right: 0;
                    }
                }
            }
        } // .flex-container END
    } // .contact END
    
    // END of Contact Page

    // BLOG PAGE MEDIA QUERIES 

    // Add blur at smaller screens between header and body content for less harsh transition
    .blog-header
        {
            &::after {
            
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to bottom, 
                            rgba(255,255,255, 0), 
                            rgba(245,245,245, 1) 90%);

            width: 100%;
            height: 4rem;
            }
    }

    .full-content-flex {
        display:block;
        .left-flex {
                width: 100%;
                top: -20px;
                margin-bottom: 30px;
                box-shadow: none;
            .mobile-only-blog-img {
                display: block;
                box-shadow: -20px -20px $bright-yellow;
                position: relative;
                margin-right:50px;
                width:60%;
            }
            .img-container {
                display: none;
            }
            .text-container {
                // display: flex;
                // flex-direction: column;
                border-bottom: 20px solid $bright-yellow;
                padding: 60px 100px;
                h2 {
                    font-size: 1.2rem;
                    text-align: right; 
                }
                .mobile-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            } 
        } // .LEFT-flex END

        // Right Flex Section
        .right-flex {
            width:50%;
            margin: 0 auto;
            margin-top: 250px;
            box-shadow: none;
            padding: 10px;
            .img-container {
                width: 40%;
                margin: 0 auto;
            }
            .text-container {
                h2, p {
                    text-align: center;
                }
            }
        } // .right-flex END  
    } // .full-contact-flex END
    
    // Comments Section 
    
    .comments {
        .comment-display {
            margin-top:50px;
            display: inline-block;
            width: 100%;
        }
    }

}

@media (max-width: 700px){
    
    header {
        margin-bottom: 0px;
        h1 {
            font-size: 2.2rem;
            // padding-bottom: 40px;
        }
        .img-container {
            width:88%;
        }
    }

    // Contact Header
    .contact-header {
        h1 {
            margin:0 auto;
            margin-top:70px;
            text-align: center;
        width: 100%;
        }
    }

    .new-materials {
        .flex-container {
            flex-direction: column;
            margin-top:0;
            .new-materials-text {
                width: 100%;
            position: relative;
            text-align: center;
                h2 {
                    padding-top: 10px;
                }
            }
            .img-container {
                box-shadow: 20px 20px $bright-yellow, -20px 20px $bright-yellow;
            }
        }
    }

    // make other links section full width
    .other-links {
        padding-top: 40px;
        .flex-container {
            padding:0;
            .link-container  { 
                width: 100%;
                padding: 40px;
                a {
                    flex-direction: column;
                    text-align: center;
                }  
                .icon {
                    margin: 0 auto;
                    padding-bottom: 10px;
                    .circle-icon {
                        padding: 15px;
                    }
                }
                p {
                    margin: 0;
                }
            } // .link-container END
        } // .flex-container END
    } // .other-links END
    
    // Group Programs Section 
    .group-programs {
        .img-container {
            margin: 0 auto;
            margin-top:150px;
        }
        .text-container {
            top:50px;
        }
    }

    // New Locations Sections
    .new-locations {
        .img-container {
            // top: 120px;
            margin-top:250px;
        }
        .text-container {
            margin-top: 100px;
            padding-top: 0;
        }
    }

    // Search By Style Section
    .search-by-style .flex-container {
        padding: 50px;
        p {
            padding-bottom: 40px;
            text-align: center;
        }
    }   

    // shrink banner image to avoid taking up too much space
    .banner-image {
        height: 30vh;
    }

    // Contact Section
    
    .contact-form {
        padding: 50px 35px;
        padding-top:0px;
        box-shadow: none;
        
        .top-row-contact {
            display: block;
            padding-top:0;
            input {
                width: 100%;
                padding-top: 50px;
            }
        }
    } // .contact-form END


    // BLOG Page MOBILE
    .blog-header {
        height:50vh;
        ul li {
            display: none;
        }
    }
    .full-content-flex {
        .left-flex {
            // display: inline-block;
            padding:30px;
            .mobile-only-blog-img {
                width:100%;
            }
            .img-container {
                display: none;
            }
            .text-container {
                border-bottom: none;
                padding: 40px;
                h2 {
                    padding-top:10px;
                }
                .mobile-header {
                    display: block;
                }
            } 
        } // .LEFT-flex END

        // Right Flex Section
        .right-flex {
            width:80%;
        } // .right-flex END  
    } // .full-contact-flex END
    
    // Comments Section 
    
    .comments .comment-display {
        .img-container {
            width: 50%;
        }
        .comment-container 
        {
            padding:20px;
            h3 {
                font-size: .8rem;
                font-style: italic;
            }
        }
    }

}