// Imports Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap);


html {
    font-size: 125%;
} 

ul, li, a, input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    font-family: $secondary-font;
    line-height: 1.45rem;
    letter-spacing: 1.4px;
}

a {
    text-decoration: none;
    color: inherit;
}

// fonts!
h1 {
    font-size: 3.4rem;
    font-family: $heading-font;
    line-height: 3.2rem;
    text-transform: uppercase;
    margin-left: 15%;
}

h2 {
    font-family: $primary-font;
    font-size: 1.65rem;
    line-height: 2.9rem;
    letter-spacing: 2.1px;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    font-family: $secondary-font;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0;
}

.logo {
    font-family: $primary-font;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
    letter-spacing: 1.2px;
}

button {
    line-height: 1.6rem;
    letter-spacing: 1px;
    font-size: 1rem;
    font-family: $primary-font;
}

body {
    font-family: $secondary-font;
    letter-spacing: 2px;
    font-size: 1rem;
    line-height: 1.6rem;
}

