@import url(https://fonts.googleapis.com/css2?family=Kumar+One&family=Kumar+One+Outline&family=Lato:wght@400;700&display=swap);
.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

button, input[type=submit] {
  background-color: #065635;
  color: #f5f5f5;
  padding: 13px 20px;
  margin-top: 10px;
  border: none;
  transition: all 235ms ease-in-out;
}
button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
  cursor: pointer;
  transform: translate3d(0, 2px, 0);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact-form {
  background-color: #f5f5f5;
  padding: 70px;
  position: relative;
  top: -150px;
  width: 55%;
  z-index: 0;
  box-shadow: 20px 20px #f8fb05;
}
.contact-form .top-row-contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.contact-form input {
  width: calc((100% / 2) - 15px);
  padding: 0 0 15px 10px;
  border: none;
  font-family: "Lato", sans-serif;
  border-bottom: 2px #065635 solid;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}
.contact-form input::-moz-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 1;
  line-height: 1.2rem;
}
.contact-form input:-ms-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 1;
  line-height: 1.2rem;
}
.contact-form input::placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 1;
  line-height: 1.2rem;
}
.contact-form input:focus {
  outline: none;
  transform: translate3d(0, 2.3px, 0);
  border-bottom: 3.5px #065635 solid;
}
.contact-form textarea {
  border: 2px #065635 solid;
  width: 100%;
  margin: 30px 0;
  font-family: "Lato", sans-serif;
  resize: none;
  background-color: transparent;
  padding: 20px;
}
.contact-form textarea::-moz-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 1;
  line-height: 1.2rem;
}
.contact-form textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 1;
  line-height: 1.2rem;
}
.contact-form textarea::placeholder {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 1;
  line-height: 1.2rem;
}
.contact-form textarea:focus {
  outline: none;
  border: 3.5px #065635 solid;
  box-sizing: border-box;
}
.contact-form button {
  width: 100%;
}

.blog-form {
  box-shadow: none;
  background: transparent;
  position: static;
  width: 100%;
  padding: 0;
  margin-bottom: 100px;
}

html {
  font-size: 125%;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  font-family: "Lato", sans-serif;
  line-height: 1.45rem;
  letter-spacing: 1.4px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.4rem;
  font-family: "Kumar One Outline", cursive;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin-left: 15%;
}

h2 {
  font-family: "Kumar One", cursive;
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 2.1px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
}

.logo {
  font-family: "Kumar One", cursive;
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 0;
  padding: 0;
  letter-spacing: 1.2px;
}

button {
  line-height: 1.6rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: "Kumar One", cursive;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1.6rem;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-bar .nav-icon {
  display: none;
  font-size: 1.5rem;
}
.nav-bar .logo {
  width: 10%;
  margin: 0;
  display: inline-block;
  padding-top: 2%;
  padding-left: 5%;
  vertical-align: middle;
}
.nav-bar .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 49;
}
.nav-bar li {
  padding: 0 20px;
}
.nav-bar li:hover, .nav-bar li:focus-within {
  text-underline-offset: 5px;
  -webkit-text-decoration: underline #f8fb05 4px;
          text-decoration: underline #f8fb05 4px;
}
.nav-bar .home-logo {
  opacity: 0;
}

header {
  background-image: url(../assets/header-home.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  margin-bottom: 100px;
}
header::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
  width: 100%;
  height: 4rem;
}
header .img-container {
  position: relative;
  height: 55%;
  width: 60%;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-sizing: content-box;
  transition: ease width 1.4s;
}
header img {
  min-width: 100%;
}
header h1 {
  width: 60%;
  padding-top: 50px;
}
header span {
  display: block;
}

.contact-header {
  background-image: url(../assets/contact-image.jpg);
  height: 70vh;
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}
.contact-header h1 {
  margin-top: 100px;
  width: 85%;
}
.contact-header::after {
  background-image: none;
}

.blog-header {
  background-image: url(../assets/blog-image.jpg);
  height: 60vh;
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-bottom: 0;
}
.blog-header h1 {
  margin-top: 100px;
}

img {
  width: 100%;
}

.new-materials .flex-container {
  display: flex;
  padding-top: 60px;
  align-items: center;
  justify-content: space-between;
}
.new-materials .flex-container .new-materials-text {
  width: 60%;
  padding: 100px 0;
}
.new-materials .flex-container .img-container {
  box-shadow: -20px 20px #f8fb05;
}
.new-materials .flex-container img {
  display: block;
}

.gallery {
  background-color: #e0fddf;
  width: 100%;
}
.gallery ul {
  display: flex;
  padding: 60px 0;
  width: 100%;
  justify-content: space-between;
}
.gallery ul li {
  width: calc((100% / 3) - 30px);
  display: none;
}
.gallery ul li img {
  position: relative;
}
.gallery ul .first-img {
  display: block;
}
.gallery .flex-container {
  position: relative;
  padding-bottom: 40px;
}
.gallery .close {
  display: none;
  margin: 0 auto;
  text-align: center;
  padding: 20px 30px;
  position: relative;
  bottom: -40%;
}
.gallery .next, .gallery .prev {
  height: 50px;
  align-self: center;
}

.other-links .flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: space-between;
}
.other-links .flex-container .link-container {
  width: calc((100%/2) - 50px);
}
.other-links .flex-container .link-container a {
  display: flex;
  padding-bottom: 20px;
  align-items: flex-start;
}
.other-links .flex-container .link-container a:hover h2, .other-links .flex-container .link-container a:focus h2 {
  -webkit-text-decoration: underline #f8fb05;
          text-decoration: underline #f8fb05;
  text-underline-offset: 12px;
}
.other-links .flex-container .link-container a:hover .icon, .other-links .flex-container .link-container a:focus .icon {
  color: #f8fb05;
}
.other-links .flex-container .link-container a:hover .icon .circle-icon, .other-links .flex-container .link-container a:focus .icon .circle-icon {
  background-color: black;
}
.other-links .flex-container .link-container .circle-icon {
  background-color: #f8fb05;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  margin-right: 15px;
}
.other-links .flex-container .link-container .circle-icon::before {
  vertical-align: middle;
}
.other-links .flex-container .link-container p {
  margin-top: 0;
}

.group-programs {
  background-color: #e0fddf;
  height: 40vh;
  padding-top: 40px;
}
.group-programs .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  position: relative;
  padding-bottom: 50px;
  height: 100%;
  z-index: 3;
}
.group-programs .img-container {
  width: 40%;
  box-shadow: 20px 20px #f8fb05;
  position: absolute;
  top: -70px;
}
.group-programs .img-container img {
  display: block;
}
.group-programs .text-container {
  width: 35%;
  padding: 20px 20px 200px 0px;
  bottom: 0;
  margin-right: 2%;
  position: absolute;
  right: 50px;
  top: 70px;
}

.new-locations {
  background-color: #e0fddf;
}
.new-locations .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 50px;
}
.new-locations .img-container {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: -40px;
  box-shadow: -20px 20px #f8fb05;
}
.new-locations .img-container img {
  display: block;
}
.new-locations .text-container {
  width: 40%;
  text-align: right;
  padding: 100px 0px 50px 100px;
}

.banner-image {
  background-image: url(../assets/banner-image.jpg);
  height: 60vh;
  background-size: cover;
  background-position: bottom;
}

.search-by-style .flex-container {
  padding: 110px 40px;
  text-align: center;
}
.search-by-style .flex-container p {
  text-align: left;
}

.contact {
  background: #e0fddf;
}
.contact .wrapper {
  max-width: 90%;
}
.contact .flex-container {
  display: flex;
  justify-content: space-around;
}
.contact .flex-container .contact-flex {
  display: flex;
  flex-direction: column;
  height: 30%;
  margin-top: 100px;
}
.contact .flex-container .contact-flex p {
  margin: 0;
}
.contact .flex-container .social-media {
  display: flex;
  color: #065635;
}
.contact .flex-container .social-media i {
  padding: 0 10px;
}
.contact .flex-container .social-media i:first-child {
  padding-left: 0;
}

.full-content-flex {
  background-color: #e0fddf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-content-flex .left-flex {
  width: 60%;
  position: relative;
  top: -130px;
  z-index: 5;
  box-shadow: 20px 20px #f8fb05;
}
.full-content-flex .left-flex .text-container {
  background-color: #f5f5f5;
  margin-top: 20px;
  padding: 50px;
  padding-left: 170px;
  padding-right: 100px;
}
.full-content-flex .left-flex .text-container .blog-date {
  font-style: italic;
}
.full-content-flex .left-flex .text-container .blog-date span {
  font-weight: bold;
}
.full-content-flex .left-flex .img-container {
  box-shadow: 20px 55px #f8fb05;
}
.full-content-flex .left-flex .img-container img {
  display: block;
}
.full-content-flex .left-flex .mobile-only-blog-img {
  display: none;
}
.full-content-flex .right-flex {
  position: relative;
  top: -130px;
  width: 28%;
  background-color: #f8fb05;
  box-shadow: -30px 12px 0px -12px #f8fb05;
}
.full-content-flex .right-flex .text-container {
  padding: 10px;
  margin-bottom: 30px;
}
.full-content-flex .right-flex .text-container ul {
  list-style: inside;
}
.full-content-flex .right-flex .text-container ul a:hover, .full-content-flex .right-flex .text-container ul a:focus {
  font-weight: bold;
  cursor: pointer;
}
.full-content-flex .right-flex .img-container img {
  width: 100%;
}

.comments {
  background-color: #e0fddf;
}
.comments .comment-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}
.comments .comment-display .comment-container {
  display: flex;
  margin: 20px 0;
  width: 100%;
}
.comments .comment-display .comment-container .text-container {
  width: 80%;
}
.comments .comment-display .comment-container .text-container p {
  margin-top: 0px;
}
.comments .comment-display .comment-container .img-container {
  height: 60%;
  margin-top: 5px;
  padding-right: 30px;
}
.comments .comment-display .comment-container .img-container img {
  display: block;
}

footer {
  text-align: center;
  background-color: #151514;
  color: #f5f5f5;
  margin: 0;
}
footer p {
  margin: 0;
  padding: 10px 0;
}

@media (max-width: 1100px) {
  .nav-bar.header-nav {
    justify-content: space-between;
  }
  .nav-bar .drop-down {
    position: relative;
    display: block;
    padding: 30px;
    z-index: 12;
  }
  .nav-bar .drop-down .nav-icon {
    display: block;
    position: relative;
    right: 0;
  }
  .nav-bar .drop-down .nav-menu {
    position: absolute;
    margin-top: 10px;
    background-color: #f8f9f9;
    display: none;
    box-shadow: -5px 5px #f8fb05;
    right: 0;
  }
  .nav-bar .drop-down .nav-menu li {
    padding: 10px 0px;
  }
  .nav-bar .drop-down .nav-menu li a {
    padding: 20px;
  }

  header {
    height: 80vh;
  }
  header h1 {
    margin-left: 5%;
  }
  header .img-container {
    height: 30%;
  }

  .other-links {
    padding: 75px 0;
  }

  .group-programs .flex-container {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .group-programs .img-container {
    position: relative;
    top: 0;
  }
  .group-programs .text-container {
    width: 100%;
    padding: 0 40px;
    right: 0;
    left: 0;
    position: relative;
    text-align: center;
  }

  .new-locations .flex-container {
    justify-content: center;
    flex-direction: column-reverse;
    padding-bottom: 20px;
  }
  .new-locations .img-container {
    position: relative;
    width: 50%;
    margin-top: 160px;
  }
  .new-locations .text-container {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .new-materials {
    padding-top: -150px;
    z-index: 3;
    position: relative;
  }
  .new-materials .flex-container {
    padding-top: 40px;
  }
  .new-materials .flex-container .new-materials-text {
    padding: 50px 15px 60px;
  }
  .new-materials .flex-container .new-materials-text h2 {
    padding-top: 100px;
  }

  .contact-header {
    height: 50vh;
  }
  .contact-header h1 {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }

  .contact .flex-container {
    flex-direction: column;
  }
  .contact .flex-container .contact-form {
    width: 100%;
    top: -50px;
    margin-bottom: 59px;
  }
  .contact .flex-container .contact-flex {
    text-align: center;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 70px;
  }
  .contact .flex-container .contact-flex .social-media {
    margin: 0 auto;
  }
  .contact .flex-container .contact-flex .social-media i:last-child {
    padding-right: 0;
  }

  .blog-header::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), whitesmoke 90%);
    width: 100%;
    height: 4rem;
  }

  .full-content-flex {
    display: block;
  }
  .full-content-flex .left-flex {
    width: 100%;
    top: -20px;
    margin-bottom: 30px;
    box-shadow: none;
  }
  .full-content-flex .left-flex .mobile-only-blog-img {
    display: block;
    box-shadow: -20px -20px #f8fb05;
    position: relative;
    margin-right: 50px;
    width: 60%;
  }
  .full-content-flex .left-flex .img-container {
    display: none;
  }
  .full-content-flex .left-flex .text-container {
    border-bottom: 20px solid #f8fb05;
    padding: 60px 100px;
  }
  .full-content-flex .left-flex .text-container h2 {
    font-size: 1.2rem;
    text-align: right;
  }
  .full-content-flex .left-flex .text-container .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .full-content-flex .right-flex {
    width: 50%;
    margin: 0 auto;
    margin-top: 250px;
    box-shadow: none;
    padding: 10px;
  }
  .full-content-flex .right-flex .img-container {
    width: 40%;
    margin: 0 auto;
  }
  .full-content-flex .right-flex .text-container h2, .full-content-flex .right-flex .text-container p {
    text-align: center;
  }

  .comments .comment-display {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: 700px) {
  header {
    margin-bottom: 0px;
  }
  header h1 {
    font-size: 2.2rem;
  }
  header .img-container {
    width: 88%;
  }

  .contact-header h1 {
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    width: 100%;
  }

  .new-materials .flex-container {
    flex-direction: column;
    margin-top: 0;
  }
  .new-materials .flex-container .new-materials-text {
    width: 100%;
    position: relative;
    text-align: center;
  }
  .new-materials .flex-container .new-materials-text h2 {
    padding-top: 40px;
  }
  .new-materials .flex-container .img-container {
    box-shadow: 20px 20px #f8fb05, -20px 20px #f8fb05;
  }

  .other-links {
    padding-top: 40px;
  }
  .other-links .flex-container {
    padding: 0;
  }
  .other-links .flex-container .link-container {
    width: 100%;
    padding: 40px;
  }
  .other-links .flex-container .link-container a {
    flex-direction: column;
    text-align: center;
  }
  .other-links .flex-container .link-container .icon {
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .other-links .flex-container .link-container .icon .circle-icon {
    padding: 15px;
  }
  .other-links .flex-container .link-container p {
    margin: 0;
  }

  .group-programs .img-container {
    margin: 0 auto;
    margin-top: 150px;
  }
  .group-programs .text-container {
    top: 50px;
  }

  .new-locations .img-container {
    margin-top: 250px;
  }
  .new-locations .text-container {
    margin-top: 100px;
    padding-top: 0;
  }

  .search-by-style .flex-container {
    padding: 50px;
  }
  .search-by-style .flex-container p {
    padding-bottom: 40px;
    text-align: center;
  }

  .banner-image {
    height: 30vh;
  }

  .contact-form {
    padding: 50px 35px;
    padding-top: 0px;
    box-shadow: none;
  }
  .contact-form .top-row-contact {
    display: block;
    padding-top: 0;
  }
  .contact-form .top-row-contact input {
    width: 100%;
    padding-top: 50px;
  }

  .blog-header {
    height: 50vh;
  }

  .full-content-flex .left-flex {
    padding: 30px;
  }
  .full-content-flex .left-flex .mobile-only-blog-img {
    width: 100%;
  }
  .full-content-flex .left-flex .img-container {
    display: none;
  }
  .full-content-flex .left-flex .text-container {
    border-bottom: none;
    padding: 40px;
  }
  .full-content-flex .left-flex .text-container h2 {
    padding-top: 10px;
  }
  .full-content-flex .left-flex .text-container .mobile-header {
    display: block;
  }
  .full-content-flex .right-flex {
    width: 80%;
  }

  .comments .comment-display .img-container {
    width: 50%;
  }
  .comments .comment-display .comment-container {
    padding: 20px;
  }
  .comments .comment-display .comment-container h3 {
    font-size: 0.8rem;
    font-style: italic;
  }
}